* {
    margin: 0;
    padding: 0;
    font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
    color: #444444
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
}

#the_header {
    background: #2196F3;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    height: 100px;
    box-shadow: 0 0 10px #888888;
}

#div_main_content {
    margin: 30px 30px 30px 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#div_main_content > p {
    margin: 10px 0 10px 0;
    padding: 0 30px 0 30px;
    /*max-width: 650px;*/
    width: 75%;
    line-height: 150%;
    font-size: 1.3em;
}

#img_blog {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#article_robot_blog {
    margin: 40px 15px 0 15px;
    padding: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 80%;
    font-size: 1.3em;
    line-height: 175%;
    align-items: center;
}

#article_robot_blog > h1 {
    font-size: 2em;
    margin: 12px;
    margin-bottom: 20px;
}

#article_robot_blog > h3 {
    font-size: 1.5em;
    margin: 4px;
    margin-bottom: 20px;
}

#article_robot_blog > button {
    margin-bottom: 20px;
    font-size: 1em;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    border-radius:7px;
    border:2px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana, sans-serif;
    font-weight:bold;
    padding:10px 15px;
    text-decoration:none;
    text-shadow:0 1px 0 #5b8a3c;
}

#article_robot_blog > button:hover{
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}

#article_robot_blog > button:active {
    position:relative;
    top:1px;
}

#article_robot_blog > button:focus {
    outline: 0;
}

.RobotParagraph {
    width: 85%;
    margin-bottom: 24px;
}
