* {
    margin: 0;
    padding: 0;
    font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
    color: #444444
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
}

#the_header {
    background: #2196F3;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    height: 100px;
    box-shadow: 0 0 10px #888888;
}

#div_main_content {
    margin: 30px 30px 30px 30px;
    text-align: center;
    align-items: center;
}

#div_main_content > p {
    margin: 10px 0 10px 0;
    padding: 0 30px 0 30px;
    /*max-width: 650px;*/
    width: 75%;
    line-height: 150%;
    font-size: 1.3em;
}

#img_blog {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#article_robot_blog {
    margin: 40px 15px 0 15px;
    padding: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 80%;
    font-size: 1.3em;
    line-height: 175%;
    align-items: center;
}

#article_robot_blog > h1 {
    font-size: 2em;
    margin: 12px;
    margin-bottom: 20px;
}

#article_robot_blog > h3 {
    font-size: 1.5em;
    margin: 4px;
    margin-bottom: 30px;
}

.RobotParagraph {
    width: 85%;
    margin-bottom: 24px;
}
