#img_blog {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#article_robot_blog {
    margin: 40px 15px 0 15px;
    padding: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 80%;
    font-size: 1.3em;
    line-height: 175%;
    align-items: center;
}

#article_robot_blog > h1 {
    font-size: 2em;
    margin: 12px;
    margin-bottom: 20px;
}

#article_robot_blog > h3 {
    font-size: 1.5em;
    margin: 4px;
    margin-bottom: 20px;
}

#article_robot_blog > button {
    margin-bottom: 20px;
    font-size: 1em;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    border-radius:7px;
    border:2px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana, sans-serif;
    font-weight:bold;
    padding:10px 15px;
    text-decoration:none;
    text-shadow:0 1px 0 #5b8a3c;
}

#article_robot_blog > button:hover{
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}

#article_robot_blog > button:active {
    position:relative;
    top:1px;
}

#article_robot_blog > button:focus {
    outline: 0;
}

.RobotParagraph {
    width: 85%;
    margin-bottom: 24px;
}
