/*#div_main_content {
    margin: 10px 50px 30px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/

#div_top_content {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#div_user_card {
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    height: 350px;
    margin: 40px 0 40px 0;
}

#div_user_card > iframe {
    flex-grow: 0;
}

#div_pie_chart {
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#img_pie_chart {
    margin: 0;
    max-height: 350px;
}

#div_blurb {
    align-items: center;
    margin: 20px 40px 75px 40px;
    font-size: 1.2em;
    line-height: 175%;
    width: 80%;
}

#div_blurb h1 {
    line-height: 175%;
    margin-bottom: 15px;
}

.project-holder {
    margin: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}
