* {
    margin: 0;
    padding: 0;
    font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
    color: #444444
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
}

#the_header {
    background: #2196F3;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 100px;
    box-shadow: 0 0 10px #888888;
}

#div_main_content {
    margin: 10px 50px 30px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div_top_content {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#div_user_card {
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    height: 350px;
    margin: 40px 0 40px 0;
}

#div_user_card > iframe {
    flex-grow: 0;
}

#div_pie_chart {
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#img_pie_chart {
    margin: 0;
    max-height: 350px;
}

#div_blurb {
    margin: 20px 40px 50px 40px;
    font-size: 1.2em;
    line-height: 175%;
    max-width: 700px;
}

#div_blurb h1 {
    line-height: 175%;
    margin-bottom: 30px;
}

.project-holder {
    margin: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}

#the_footer {
    background: #B6B6B6;
    padding: 10px 30px 10px 30px;
    margin-top: 24px;
}

#the_footer > div {
    justify-content: space-around;
}

#the_footer p, #the_footer span {
    color: #FFFFFF;
    font-size: 0.8em;
}
