* {
    margin: 0;
    padding: 0;
    font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
}


body {
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
}

#div_profile_pic {
    width: 230px;
    height: 230px;
}

#img_profile_pic {
    /* margin: 30px;
    margin-left: 36px;
    margin-top: 24px; */
    position: relative;
    top: -72px;
    width: 210px;
    border-radius: 8px;
    box-shadow: 0 0 15px #888888;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NavButton {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 250px;
    text-align: center;
    font-size: 2em;
    justify-content: center;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 4px;
    margin-top: 24px;
}

.NavButton a {
    text-decoration: none;
    color: grey;
}

.NavButton a:visited {
    color: inherit;
}

#div_code_view {
    flex-grow: 1;
    margin-top: 8px;
    margin-bottom: 10px;
}

.CodeView {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
    height: 300px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 4px;
}

#the_header {
    background: #2196F3;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    height: 100px;
    box-shadow: 0 0 10px #888888;
}

#the_footer {
    background: #B6B6B6;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 24px;
}

#div_left_panel {
    text-align: center;
    justify-content: flex-start;
    width: 320px;
}

#div_left_panel > p {
    padding: 25px;
}

#div_not_panel {
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: 30px;
}

#nav_big_buttons ul {
    list-style: none;
}
