* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.vertical {
    display: flex;
    flex-direction: column;
}

img {
    margin: auto
}

#the_header {
    background: #2196F3;
    color: #FFFFFF
}

#div_left_panel {
    text-align: center;
    width: 330px;
}

#div_not_panel {
    flex-grow: 1;
}

#nav_big_buttons ul {
    list-style: none;
}
