* {
    margin: 0;
    padding: 0;
    font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
    color: #444444
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
}

#the_header {
    background: #2196F3;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    height: 130px;
    box-shadow: 0 0 10px #888888;
}

#div_main_content {
    padding: 0 50px 0 50px;
    justify-content: flex-start;
}

#div_left_panel {
    text-align: center;
    justify-content: flex-start;
    max-width: 260px;
    min-width: 260px;
    margin-right: 50px;
}

#div_left_panel > * {
    position: relative;
    top: -96px;
}

#div_left_panel p {
    padding: 0 1px 3px 1px;
    line-height: 140%;
    margin-bottom: 10px;
}

#img_profile_pic {
    width: 200px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px #777777;
}

#div_left_panel_text {
    margin-top: 30px;
}

#div_not_panel {
    flex-grow: 1;
    justify-content: flex-start;
}

#nav_big_buttons {
    margin-bottom: 30px;
    margin-top: 30px;
}

.NavButton {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 220px;
    text-align: center;
    text-decoration: none;
    color: #777777;
    font-size: 2em;
    justify-content: center;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 6px;
    box-shadow: 0 0 4px #CCCCCC;
}

.NavButton div {
    justify-content: space-around;
}

.NavButton:hover {
    background: #F5F5F5;
}

.NavButton:active {
    background: #EEEEEE;
}

.NavButton a:visited {
    color: inherit;
}

.NavButton img {
    height: 120px;
    margin-bottom: 20px;
}

.NavButton#more img {
    height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#div_code_view {
    flex-grow: 1;
    margin: 8px 6px 10px 6px;
}

.CodeView {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 6px;
    box-shadow: 0 0 4px #CCCCCC;
}

#the_footer {
    background: #B6B6B6;
    padding: 10px 30px 10px 30px;
    margin-top: 24px;
}

#the_footer > div {
    justify-content: space-around;
}

#the_footer p, #the_footer span {
    color: #FFFFFF;
    font-size: 0.8em;
}
