<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author and site.author != site.title -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>
            {%- if site.repository -%}
              Source code <a href="{{ site.repository }}">on GitHub</a>.
            {%- else -%}
              This website is open-source and hosted on GitHub.
            {%- endif -%}
          </li>
        
          {%- if site.show_last_updated -%}
          <li>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            Last updated: {{ site.time | date: date_format }}
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>

</footer>
