.home-button {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    top: 4px;
    left: 4px;
}

.home-button a {
    align-items: center;
    padding: 5px;
}

.home-button img {
    height: 35px;
}
