#the_header {
    background: #2196F3;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding: 15px 50px 15px 50px;
    box-shadow: 0 0 10px #888888;
}

#the_header p {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    left: 280px;
}

#div_header_left_filler {
    width: 260px;
    flex-shrink: 1;
}

#div_main_content {
    padding: 0 50px 0 50px;
    justify-content: flex-start;
}

#div_left_panel {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    max-width: 260px;
    min-width: 260px;
    margin-right: 50px;
}

#div_left_panel > * {
    position: relative;
    top: -96px;
}

#img_profile_pic {
    width: 200px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px #777777;
}

#div_left_panel_text {
    line-height: 140%;
    font-size: 1.1em;
    margin-top: 15px;
}

#div_left_panel p {
    margin-bottom: 12px;
}

#div_left_panel h3 {
    margin-bottom: 5px;
}

#div_left_panel h4 {
    line-height: 120%;
}

#div_left_panel ul {
    list-style: none;
    margin-bottom: 15px;
}

#div_left_panel section {
    margin-bottom: 6px;
}

#section_languages h3, #section_info h3 {
    margin-bottom: 10px;
}

#section_languages li, #section_info li {
    margin-bottom: 8px;
}

.external-links {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.external-links img {
    height: 40px;
}

#div_not_panel {
    flex-grow: 1;
    justify-content: flex-start;
}

#nav_big_buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.NavButton {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 220px;
    text-align: center;
    text-decoration: none;
    color: #777777;
    font-size: 2em;
    justify-content: center;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 6px;
    box-shadow: 0 0 4px #CCCCCC;
}

.NavButton div {
    justify-content: space-around;
}

.NavButton:hover {
    background: #F5F5F5;
}

.NavButton:active {
    background: #EEEEEE;
}

.NavButton a:visited {
    color: inherit;
}

.NavButton img {
    height: 120px;
    margin-bottom: 20px;
}

.NavButton#more img {
    height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#div_code_view {
    flex-grow: 1;
    margin: 8px 6px 10px 6px;
    text-align: center;
    justify-content: flex-start;
}

#div_code_view > p {
    font-style: italic;
    font-size: 1.1em;
    color: #888888;
    margin-top: 30px;
    margin-bottom: 20px;
}

.CodeView {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 6px;
    box-shadow: 0 0 4px #CCCCCC;
}
