.page-footer {
    background: #B6B6B6;
    padding: 30px 30px 30px 30px;
    margin-top: 24px;
}

.page-footer * {
    color: #FFFFFF;
    font-size: 0.9em;
}

.page-footer > div {
    justify-content: space-around;
}
