---
# Front matter required, even if empty.
---

@import "minima";

/**
 * I don't want links to darken when visited.
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }
}


/**
 * I don't want the site title always in the header,
 * so I'm changing the navbar to exclude the
 * site title (by modifying _includes/header.html)
 * and display links to pages on the left
 * (by modifying the .site-nav css class).
 */
.site-nav {
  float: left;

  @include media-query($on-palm) {
    position: absolute;
    left: $spacing-unit / 2;
    right: auto;
    text-align: left;

    label[for="nav-trigger"] {
      float: left;
    }

    .menu-icon {
      float: left;
    }
  }
}

/**
 * This is to configure the side-by-side image and text on the homepage.
 */
.home-header {
  margin-bottom: $spacing-unit;
  @include relative-font-size(1.25);
  @extend %clearfix;
}

.header-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
}

.profile-img {
  width: -webkit-calc(35% - (#{$spacing-unit}));
  width:         calc(35% - (#{$spacing-unit}));
  margin-right: $spacing-unit;
}

.home-summary {
  width: -webkit-calc(65% - (#{$spacing-unit}));
  width:         calc(65% - (#{$spacing-unit}));
}

@include media-query($on-palm) {
  .header-col {
    float: none;
  }

  .profile-img {
    width: -webkit-calc(100%);
    width:         calc(100%);
    margin-right: 0;
  }

  .home-summary {
    width: -webkit-calc(100%);
    width:         calc(100%);
  }
}

/**
 * For site breadcrumbs
 */
@import "breadcrumb";

/**
 * For post pages
 */
@import "post";

/**
 * For scrolling lists of posts
 */
@import "post-list";

/**
 * For galleries of images included in posts.
 */
@import "gallery";
